<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">Contact Us</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <p>SR Heaters Ltd, Unit 8 The Sidings, Station Road, Guisleley, Leeds, England, LS20 8BX. UK.</p>
        <p>Tel: 01943 873222 or 07834 872024</p>
        <p>Fax: 01943 879017</p>
        <p>
          Email: <a href="mailto:srheaters@btconnect.com">srheaters@btconnect.com</a>
        </p>
      </div>

      <div class="footer-col  footer-col-2">
      </div>

      <div class="footer-col  footer-col-3">
      </div>
    </div>

  </div>

</footer>
